/*PÁGINA PRINCIPAL*/

/*Títulos y secciones*/

.titulospag {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding: 20px;
    font-family: kurale;
    font-size: x-large;
    background: linear-gradient(to right, lightsteelblue,rgb(255, 255, 255));}

.titulos_secciones { 
    margin: 30px 30px 30px 45px;
    padding-left: 15px;
    border-left: dotted 3px #ff4500;}

.text_titulos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    font-weight: bold;
    text-align: start;}

.text_subtitulos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;}


/*HEADER*/

.header_gral {
    background-image: url(./media/celular.png);
    background-size:cover;
    height: 700px;}


/*SECCIONES*/

.item_opciones {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;}

.img_opciones {
    width: 45%;}

.text_opciones{
    font-family: special elite;
    font-size:19px;
    font-weight: bold;
    text-align: center;
    width: 55%;}


/*ACORDEON*/

.text_acordeon {
    font-family: kurale;}


/*DISEÑOS*/

.recuadro_gral_diseno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.recuadro_diseno {
    width: 250px;
    height: 250px;
    padding-left: 15px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: 2s;
    margin: 10px;}

   .recuadro_diseno:link, .recuadro_diseno:visited, .recuadro_diseno:active {
        text-decoration: none;}
    .recuadro_diseno:hover {
        width: 350px;
        height: 300px;}

.text_recuadro {
    font-family: caveat;
    font-size:40px;
    color: white;
    text-shadow: 2px 2px 2px rgb(156, 156, 156);
    text-decoration: none;
    margin: 0px;
    padding: 0px;}

.subtext_recuadro {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}


/*PASOS A SEGUIR*/

.pasosaseguir {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}

.nro_pasos {
    margin: 25px;
    font-family: special elite;
    font-size: larger;
    color: dodgerblue;
    font-weight: bolder;}

.text_pasos {
    padding-top: 20px;
    border-top: solid 1px rgb(197, 236, 255);
    font-family: kurale;
    width:90%;}

.btn_pasos {
    background-color: dodgerblue;
    border: solid transparent 1px;
    border-radius: 15px;
    color: white;}

    
/*IMG GRANDE*/

.img_grande{
    height: 400px;
    background-image: url(./media/imggrande.png);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 30px;}

.text_img_grande{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    width: 90%;
    text-shadow: 3px 1px 2px rgb(186, 186, 186);}


/*TEXTO DESCRIPCION*/

.text_descripcion {
    font-family: kurale;
    font-size: large;
    margin: 20px 20px 20px 50px;
    color: orangered;}

.tamano_video {
    width: 40%;}
 
 /*PRECIO*/

.fondo_precio {
    background: linear-gradient(to top, lightsteelblue,rgb(230, 240, 252));
    height: 500px;}

.container_precio {
    background-color: aliceblue;
    margin: 0px 10px 0px 10px;
    box-shadow: 6px 5px 10px grey;
    height: 380px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.titulo_precio {
    font-family: kurale;
    font-size: large;
    font-weight: bold;}

.text_precio {
    font-family: kurale;
    font-size: medium;
    text-align: center;}

.precio_color {
    color: orangered;
    font-family: special elite;
    font-size: xx-large;}

.btn_precio {
    font-family: kurale;
    font-size:small;
    color: white;
    padding: 6px 20px 6px 20px;
    box-shadow: 1px 1px 2px grey;
    background-color: orangered;
    border: none;}


    /*FOOTER*/

.section_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}

.sec_foot {
    font-size:x-small;
    text-align: start;
    padding-top: 20px;}

.logo_footer{
    height:95px;}

.icon_footer {
    height: 30px;}
    
    .mail_footer:link {
        text-decoration: none;
        color: black;}
    .mail_footer:visited {
        text-decoration: none;
        color: black;}
    .section_footer a:link {
        text-decoration: none;
        color: black;}
    .section_footer a:visited {
        text-decoration: none;
        color: black;}
    





/*PÁGINAS DE EJEMPLOS*/

.text_ejemplos {
    margin-top: 35px;
    font-family: special elite;
    font-size: x-large;}

.disenos_disponibles {
    width: 80%;
    margin: 30px;}

.img_disenos {
    height: 190px;
    background-position: center;
    background-size: cover;
    transition: 2s;
    border: solid 10px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

/*bodas*/
    .diseno-b1 {
        background-image: url(./media/fotografica.png);}
    .diseno-b2 {
        background-image: url(./media/eucalipto.png);}
    .diseno-b3 {
        background-image: url(./media/floral.png);}
    .diseno-b4 {
        background-image: url(./media/festiv.png);}

/*graduaciones*/
    .diseno-g1 {
        background-image: url(./media/fotografica.png);}
    .diseno-g2 {
        background-image: url(./media/eucalipto.png);}
    .diseno-g3 {
        background-image: url(./media/floral.png);}
    .diseno-g4 {
        background-image: url(./media/festiv.png);}

/*cumpleaños*/
    .diseno-c1 {
        background-image: url(./media/festiv.png);}
    .diseno-c2 {
        background-image: url(./media/eucalipto.png);}
    .diseno-c3 {
        background-image: url(./media/floral.png);}
    .diseno-c4 {
        background-image: url(./media/festiv.png);}

    .img_disenos:hover {
        filter:grayscale(100%);
        transition: 3s;}    

.btn_transparente {
    height: 100%;
    width: 100%;
    border: none;}


    /*MODAL'S PRECIOS*/

.precio_gral {
    width: 80%;
    height: 250px;}

@media (min-width:768px) {
    .img_disenos_gral {
        width: 75%;}
        .img_disenos_gral:hover {
            width: 85%;}
    .disenosdisponibles {
        width: 25%;}
    .header_gral{
        height: 600px;}
    .contenedor_etiqueta {
        width: 60%;}
    .text_chek {
        font-size: larger;}
    .tamano_video {
        width: 40%;}
    .recuadro_diseno {
        width: 350px;
        height: 350px;}
    .recuadro_gral_diseno {
        flex-direction: row;}
        .recuadro_diseno:hover {
            width: 450px;
            height: 400px;}}
        



